
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: black;
  padding: 30px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}


.submit {
  background-color: #ff5722;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #e64a19;
}

p a {
  color: #ff5722;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

p a:hover {
  text-decoration: underline;
}
